.Navbar {
    height: 70px;
    background-color: #2b2b2b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Logo on the left */
.logo {
    display: flex;
    float: left;
}

.logo p {
    font-family:'Segoe UI';
    margin: 35px 20px 35px 20px;
    line-height: 0px;
    font-size: 30px;
    font-weight: 900;
}
.logo--red {
    color: red;
}
.logo--sec {
    color: white;
}

/* Buttons on the right */
.navbar-buttons {
    display: flex;
    float: right;
}

.Navbar ul {
    list-style-type: none;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    display: flex;
}

.Navbar li {
    margin: 0px 25px 0px 0px;
    height: 70px;
    display: flex;
}

.Navbar button {
    border: none;
    background: inherit;
    color: rgb(240, 240, 240);
    opacity: 0.9;
    font-size: 21px;
    font-weight: 700;
    font-family:'Segoe UI';
}

.Navbar button[data-active=true] {
    color: red;
    opacity: 1;
}

.Navbar button:hover {
    opacity: 1;
}

.Navbar button:active {
    color: rgb(255, 255, 255);
}