@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

.Navbar {
    height: 50px;
    background-color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
}

/* Logo on the left */
.logo {
    display: flex;
    float: left;
}

.logo p {
    font-family: 'Roboto', sans-serif;
    margin: 25px 18px 25px 18px;
    line-height: 0px;
    font-size: 25px;
    font-weight: 900;
}
.logo--red {
    color: red;
}
.logo--sec {
    color: white;
}

/* Buttons on the right */
.navbar-buttons {
    display: flex;
    float: right;
}

.Navbar ul {
    list-style-type: none;
    margin: 0px 15px 0px 0px;
    padding: 0px;
    display: flex;
}

.Navbar li {
    margin: 0px 15px 0px 15px;
    height: 50px;
    display: flex;
}

.Navbar button {
    border: none;
    background: inherit;
    color: rgb(240, 240, 240);
    opacity: 0.9;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.Navbar button[data-active=true] {
    color: red;
    opacity: 1;
}

.Navbar button:hover {
    opacity: 1;
}

.Navbar button:active {
    color: rgb(255, 255, 255);
}