@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

.block-header {width: 100%}
.block-header p {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 50px;
    margin: 0px;
}
.block:nth-child(even) {background-color: #383838}
.block:nth-child(odd) {background-color: #F4F4F4}
.block:nth-child(even) .block-header p {
    background-color: #313131;
    color: #FF3636;
}
.block:nth-child(odd) .block-header p {
    background-color: #FFFFFF;
    color: #2B2B2B
}
.block:last-child {background-color: #2B2B2B}

/* Catchy Block */
.catchy-block {
    background-color: #383838;
    padding: 50px 50px 20px 50px;
}
.catchy-block .block-content > .catchphrase {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 63px;
}
.catchphrase p {margin: 0px}
.catchphrase p:nth-child(odd) {color: white}
.catchphrase p:nth-child(even) {color: red}

.catchy-block .block-content > p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    width: 548px;
    margin: 15px 0px 20px 0px;
}
.catchy-block ul {
    list-style: none;
    padding: 0
}
.catchy-block li {
    display: inline-block;
    padding: 0px 30px 0px 0px;
}
.catchy-block li button {
    padding: 0px 20px 0px 20px;
    height: 47px;
    border-radius: 18px;
    background: white;
    color: #383838;
    font-size: 18px;
    line-height: 0px;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    outline: none;
    border: 0px;
}
.catchy-block li button:hover {background-color: rgb(230, 230 ,230)}
.catchy-block li button:active {padding-top: 3px}

/* Quotes Block */
.quotes-block .block-content {
    padding: 30px 0px 30px 0px;
}
.quotes-block .images {
    margin-bottom: 45px;
    height: 55px;
}
.quotes-block .images ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    overflow: scroll-y;
}
.quotes-block .images li {
    display: inline-block;
    padding: 0px 30px 0px 0px;
}
.quotes-block .images li img {
    border-radius: 50%;
    height: 55px;
    width: 55px;
}
.quotes-block .images button {
    background: none;
    border: 0px;
}
.quotes-block .images .active {
    border: 3px solid  rgba(0, 0, 255, 0.5);
    margin: 0px 0px 3px 0px;
}

.quotes-block .quote {
    text-align: center;
}
.quotes-block .quote p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0px;
}
.quotes-block .quote p:first-child {
    margin-bottom: 10px;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(170, 170, 255);
    padding: 30px;
    height:  50px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
}

/* STEPS BLOCK */
.steps-block .steps ul {
    list-style: none;
    padding: 60px 0px 0px 137px;
    margin: 0px;
    vertical-align: top;
}
.steps-block .steps li {
    margin: 0px 0px 50px 0px;
}
.steps-block .steps li:last-child {margin-bottom: 0px}
.steps-block .step-content {
    position: relative;
    top: -33px;
    left: 45px;
    display: inline-block;
}
.steps-block .step-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    width: 45%;
    margin: 8px 0px 0px 0px;
}
.steps-block .step-content p:first-child {
    /* This is the step title */
    margin: 2px 0px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    color: white;
}
.steps-block .step-number {
    height: 33px;
    width: 33px;
    border-radius: 16px;
    background-color: #646464;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 33px;
    position: relative;
    z-index:  1;
    border-radius: 33px;
}
.steps-block .steps li:hover .step-number {
    border: 3px solid #7d7d7d;
    width: 27px;
    height: 27px;
    line-height: 27px;
}
.steps-block .steps li:last-child:hover .step-number {
    border: 3px solid #c95d5d;
    width: 27px;
    height: 27px;
    line-height: 27px;
}
.steps-block hr {
    width: 5px;
    border: none;
    background-color: #646464;
    display: inline;
    margin: 76px 0px 0px 148px;
    display: inline;
    position: absolute;
    left: 3px;
    z-index: 0;
}

/* Closing Block */
.closing-block {
    height: 50px;
    color: white;
}
.closing-block .block-content {
    text-align: center;
}
.closing-block .block-content > span {
    line-height: 50px;
    margin: 0px;
}
.closing-block .email {float: right; padding-right: 20px}